<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='shortcut icon' href='../favicon.ico' type='image/x-icon'/ >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/nwtn.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <script src="https://use.fontawesome.com/ac6c6ceed0.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <title>Sarah Bannister | UX Designer</title>

</head>

<body>
  <nav>
      <ul class="navbar navbar-default navbar-fixed-top fade-in three" role="navigation">
          <strong><li><a href="../index.html" class="navbar-left">BACK</a><li>
      </ul>
  </nav>

<h2 id=topText>Local Guide</h2>
  <div class="jumbotron">
    <img class="img-responsive" id="hero" src="     ">
  </div>

  <section id="intro" class="section" style="padding-top: 5%;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <br>
        <div class="container-fluid">
          <p><strong>Local Guide</p>
        </div>
