<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='shortcut icon' href='../favicon.ico' type='image/x-icon'/ >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/LG.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <script src="https://use.fontawesome.com/ac6c6ceed0.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <title>Sarah Bannister | UX Designer</title>

</head>

<body>
  <nav>
      <ul class="navbar navbar-default navbar-fixed-top fade-in three" role="navigation">
          <strong><li><a href="../index.html" class="navbar-left" id="navName">SARAH BANNISTER</a><li>
      </ul>
  </nav>

  <div class="jumbotron">
    <img src="../images/LG/LGCover.png" class="banner fade-in one"><p id="UIsubtext">Local Guide - A Personal Design Project</p>
  </div>

  <section id="intro" class="section" style="padding-top: 5%;">
    <br>

        <div class="col-sm-6 col-md-4 col-md-offset-4 col-lg-4 col-md-offset-2">
          <h6 class="info">AREA OF FOCUS</h6><p class="info">UX/UI</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <h6 class="info">TOOLS</h6><p class="info">Axure</p><p class="info">Sketch</p>
        </div>

        <div class="col-sm-5 col-sm-pull-1 col-md-5" display="hide-xs">
          <img class="img-responsive" id="uiImg" src="../images/LG/splash.png">
        </div>

  </section>

  <section class="challenge">
    <div class="col-sm-6 col-md-6">
      <h2 style="margin-bottom: 5%;">LOCAL GUIDE</h2>

      <p>Exploring new things and places is a passion of mine, so I wanted to conceptualize a travel guide. After interviewing multiple people about their travel planning goals and habits, it came to my
        attention that people want to find the off the beaten path attractions. Local Guide is my concept for a personalized travel app specifically
        for seeing a new city in the eyes of a local.</p>

    </div>
  </section>


  <div class="col-xs-12">
    <h2 style="text-align:center;">WIREFRAMES</h2>

    <div class="col-xs-12" id="mindMap">
      <img src="../images/LG/mindMap.png" class="img-responsive" style="margin-top: 5%;">
    </div>
  </div>

  <div class="col-xs-12">
    <h2 style="text-align:center;">LOGO EXPLORATION</h2>

    <div class="col-xs-12">
      <img src="../images/LG/LogoDesigns.jpg" class="img-responsive" style="margin-top: 5%;">
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" style="padding-top: 5%;">
    <h2 style="text-align:center;">HIGH-FIDELITY MOCKUPS</h2>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-10" id="mockUps">

    <section class="mockUps">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/onboard1.png">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/onboard2.png">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/onboard3.png">
      </div>
    </section>

    <p><strong><u>Give users a guide by onboarding</u></strong> - Straightforward steps and friendly design welcomes new users to the app.</p>

  <section class="mockUps">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive" id="hi-fi" src="../images/LG/profile1.png">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive" id="hi-fi" src="../images/LG/profile2.png">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive" id="hi-fi" src="../images/LG/profile3.png">
    </div>
  </section>

  <p><strong><u>Personalized experience</u></strong> - Not only can users share their top must-sees in a city, but their inputs
  are like a digital journal they can look back on to reminisce on their experiences.</p>

    <section class="mockUps">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/menu.png">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/search.png">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" id="hi-fi" src="../images/LG/nearby.png">
      </div>
    </section>

  <p><strong><u>Recommendations along with room to explore</u></strong> - The purpose of Local Guide is to help users have the best
  travel experience in a new city. Much of this would consist of giving recommendations based on activity in-app.
  It's equally important to have a tool where users can explore places and events that might not populate on their feed.</p>

  </div>
  </body>
  </html>
