<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='shortcut icon' href='../favicon.ico' type='image/x-icon'/ >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/nwtn.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <script src="https://use.fontawesome.com/ac6c6ceed0.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <title>Sarah Bannister | UX Designer</title>

</head>

<body>
  <nav>
      <ul class="navbar navbar-default navbar-fixed-top fade-in three" role="navigation">
          <strong><li><a href="../index.html" class="navbar-left" id="navName">SARAH BANNISTER</a><li>
      </ul>
  </nav>

<h2 id=topText>NWTN</h2>
  <div class="jumbotron">
    <img class="img-responsive" id="hero" src="../images/NWTN/nwtnCover.png">
  </div>

  <section id="intro" class="section" style="padding-top: 5%;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <br>
        <div class="container-fluid">
          <p><strong>NWTN aims to reduce the occurrence of multiple head injuries in athletes</strong> by way of sensors paired with their coaches phones. My team and I were asked to develop a mid-fidelity prototype of the app interface. We conducted multiple user interviews with coaches and athletic trainers and <strong>built a set of 60 screens in our final prototype</strong> based around our findings from extensive research and testing. We ensured our design solutions were desired by users by doing many rounds of usability testing.</p>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">AREA OF FOCUS</h6><p class="info" style="margin-left: 7%;">UX</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">TEAM MEMBERS</h6><p class="info" style="margin-left: 7%;">Kelsey Fiegle</p><p class="info" style="margin-left: 7%;">Natalie Leroy</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">TIMELINE</h6><p style="margin-left: 7%;">Three weeks</p>
        </div>
      </div>

<section id="challenge">
  <div class="container-fluid">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="padding-top: 10%;" >
    <h2>BRIEF</h2>

  <p>NWTN is an impact detection sensor intended for use by non-professional athletes. A NWTN sensor is clipped to an athlete’s helmet or headband. When impact is detected, a notification is sent to the coach or trainer who has paired the sensor with their phone via bluetooth. The data surrounding the impact would be recorded for the coach to review along with the option to conduct a S.C.A.T. (sport concussion assessment tool) assessment using the pocket S.C.A.T. tool included in the app.</p>

<figure style="margin: 5% 0;">
  <div class="container-fluid">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-lg-offset-1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lVqJLtD6qcg" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
</div>
  <figcaption class="text-muted">Neil and Aaron, founders of NWTN, talking about the making of the NWTN sensor on the Conan O'Brien Show</figcaption>
</figure>

	<p >NWTN has been through two rounds of UX research and design with other teams in the past so we started by gaining an understanding of the current state of NWTN. We were provided with a set of deliverables that were produced by the previous UX teams. Some of what was included was a set of personas, interview transcripts and 28 annotated wireframe screens. The majority of the work had been discarded because of a business decision to focus on soccer players instead of on football players. The remainder of the UX and UI work was shared with us in 4 UI screens.</p>

<div class="oldWires">

<figure>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="../images/NWTN/old1.png" style="padding: 5% 0;">
    <figcaption class="text-muted" style="text-align: left; font-size:13px; margin-bottom: 3%;">Example of original "LiveMode" concept. This would be what a coach would see on their phone while in game/practice.</figcaption>
</figure>
</div>
<figure>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="../images/NWTN/old2.png" style="padding: 5% 0;">
    <figcaption class="text-muted" style="text-align: left; font-size:13px; margin-bottom: 3%;">Pocket SCAT concept that inspired our research and testing of the SCAT tool.</figcaption>
  </div>
</figure>
<figure>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="../images/NWTN/old3.png" style="padding: 5% ;">
    <figcaption class="text-muted" style="text-align: left; font-size:13px; margin-bottom: 3%;">Wireframe of original Player Profile. Deciding what the most important information to be included in this screen was a very major focus in our testing.</figcaption>
</div>
</figure>

	<p>These screens contained components that shaped the mid-fi UX wireframes and user flows we completed in Sprint 2.</p>

	<p>After learning what the previous teams had focused on and created, we took note of what pieces NWTN adopted. At that point, the NWTN app consisted of a team roster, individual impact overview and a visual representation of impact by graph or 3D video recreation.</p>

  <p><strong>Screen 1</strong> | Player Profile - Record of individual player history.</p>
    <img class="img-responsive" src="../images/NWTN/playerProfile.png" style="padding: 5% 0;">

  <p><u>Key Features:</u></p>
  <p>Live Mode: In Live Mode the player is actively being tracked by the user</p>
  <p>Impact Threshold: Each player has a unique impact threshold that determines their ability to handle concussions</p>
  <p>Flag Player: Players can be flagged to indicate a history of injuries, or players to be watched.</p>
  <p>Impact History: Users can see the entire history of impacts on a player.</p>
  <p>Impact Notes: Users can take notes in the player profile.</p>
  <p>Performance:  NWTN can be also be used to track athletic performance.</p>


  <p><strong>Screen 2</strong> | Team View - Team roster of current game/practice.</p>
    <img class="img-responsive" src="../images/NWTN/roster.png" style="padding: 5% 0;">

  <p><u>Key Features:</u></p>
  <p>Live Mode: This state indicates that players are actively being tracked by the user.</p>
  <p>Recent Impact Indication:  The most recent impact on a player is displayed prominently to the left.</p>
  <p>Player Name and Number: Players are identified in two different ways.</p>
  <p>Time Between Hits : Tracking when the last hit occurred.</p>


  <p><strong>Screen 3</strong>  |  Hit Replay - The visual replay can help the trainer or coach assess the injury.</p>
    <img class="img-responsive" src="../images/NWTN/graph.png" style="padding: 5% 0;">

  <p><u>Key Features:</u></p>
  <p>Visualize: Seeing the impact on the player through a simulated video.</p>
  <p>Graph: Showing the X, Y, Z impact to the trainer.</p>


  <p>Screen 4</strong> | Hit Replay - Graph visualization of impact.</p>
    <img class="img-responsive" src="../images/NWTN/visual.png" style="padding: 5% 0;">

  <p><u>Key Features:</u></p>
  <p>Visualize : Seeing the impact on the player through a simulated video.</p>
  <p>Graph : Showing the X, Y, Z impact to the trainer.</p>

  <p>The graph plotting the directions that the force changed in the athlete’s play is important to show the force at which the athlete’s body received the impact.</p>



        <figure style="margin-bottom: 5%;">
            <img class="img-responsive" src="../images/NWTN/whiteboard.png">
          <figcaption class="text-muted">Task flow of possible player impact scenario and initial pairing process for coaches.</figcaption>
        </figure>



    <h2>THE APPROACH</h2>
		<p><strong>Tackling the competitive analysis</strong></p>

		<p>

    We wanted to compare what features other competitors on the market had to offer. We created a matrix that displays how competitors compare in terms of impact detection and injury analysis.

    <img class="img-responsive" src="../images/NWTN/lll.png" style="padding: 7%;">

    We looked at six major competitors on the market and two indirect competitors. <strong>Our main takeaways were:</strong>

    <p style="margin-left: 5%;">- All options are similar in price ranging from $99-$185.</p>
    <p style="margin-left: 5%;">- Most offer basic impact detection, but not all offer additional assessment that could be a valuable asset to coaches and trainers.</p>
    <p style="margin-left: 5%;">- Additional software is often required for use in form of app or assessment device.</p>

    <p>In addition to this analysis, we conducted a heuristic analysis on three competitors and NWTN’s interface based on Nielsen’s 10 usability heurisitics. From reviewing the interfaces of <a href="https://www.theshockbox.com">Shockbox</a>, <a href="https://www.joltsensor.com">Jolt</a>, <a href="https://www.headcasecompany.com">Headcase</a> and <a href="https://www.nwtn.io">NWTN</a>, <strong>we learned:</strong></p>

    <p>Concussion detection sensors and apps are a newly emerging product, there are currently no dominant players as of yet and none of the current competitors have a polished, modern interface.
      This analysis proved to us that NWTN is in a great position to stand out by offering a modern interface and an in-depth analysis tool along with impact detection. There are a good number of impact detection products available, but none offer an outstanding SCAT test. NWTN had a basic “Pocket SCAT” test in the works and we were eager to see how participants reacted to it in our upcoming concept testing.</p>
  </div>
</div>
</section>
</section>

</div>

<section id="affinity">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1" style="padding-top: 5%;" >
    <h2 class="approach">UNDERSTANDING OUR USERS</h2>
    <p>Although we were left with transcripts of previous interviews from a past UX design team, we conducted our own in order to learn as much as possible about the non-professional athletic world. Going into our interviews, we wanted to evaluate the role of athletic trainers and coaches in regards to equipment distribution, collection and management. We also were looking for those outside of the football realm because NWTN was moving away from targeting football to soccer players.</p>

    <p>We spoke with a mix of coaches and trainers and they helped us discover that <strong>concussion awareness is becoming an increasing concern</strong> for parents and coaches. Devices are growing in popularity to aid in the detection and assessment of head injuries on the field. <strong>Equipment distribution needs to be efficient and painless</strong> for coaches and their teams. Athletic trainers need to be able to see multiple teams at once, take electronic notes in an evaluation and <strong>share information seamlessly</strong> with administration and coaches.</p>
<!--
    <figure style="margin-bottom: 5%;">
        <img class="img-responsive" src="kelsey.png">
      <figcaption class="text-muted">We took time to organize our most important user feedback and quotes in order to prioritize what problems we were going to solve for NWTN.</figcaption>
    </figure> -->

    <img class="img-responsive" src="../images/NWTN/interviews.png">


    <p>Because there is equal concern for preventing head injuries amongst multiple archetypes, we wanted to test providing multiple interfaces for different types of users. This was to ensure the learning curve would be reduced to enable users to get to using NWTN as painlessly as possible.</p>
    <p>Another major focus for my team and I was expanding on the current pocket SCAT concept NWTN had adopted from the previous UX work. Many trainers claimed this would make their day to day lives easier, but coches didn’t understand the medical terminology. This is an example where it would be important to have multiple interfaces. A trainer needs access to an in-depth digital SCAT while coaches just want to conduct simple field side analyses.</p>
    <p>We chose to focus our scope on these points when creating our multiple question problem statement.</p>
      <p class="problem">
      How can the UX team <strong>create streamlined interfaces</strong> for users who share information but have different needs?

      How do we address the need for a field evaluation for <strong>coaches</strong> and an official SCAT test for <strong>athletic trainers?</strong></p>
  </div>
</section>

<section class= "process">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="padding-top: 10%;" >
    <h2>OUR PROCESS</h2>


          <img src="../images/NWTN/usability.png" class="img-responsive" style="margin-top: 5%;">


      <p>Based on our scope, we <strong>finalized the concepts</strong> we were going to test in each of our prototypes:</p>

      <p style="margin-left: 5%;">- Different user interfaces for trainers, coaches and parents</p>
      <p style="margin-left: 5%;">- Pairing process of devices and players</p>
      <p style="margin-left: 5%;">- Pocket SCAT concept from previous research</p>

      <figure style="margin-bottom: 5%;">
        <img src="../images/NWTN/nwtnprinciples.png" class="img-responsive" style="margin-top: 10%;">
        <figcaption class="text-muted">In our second sprint we focused on diverging and deciding on a design for our prototype. Before we diverged, we created a set of design principles that guided the design direction for the wireframes.</figcaption>
      </figure>

      <p>We created three prototypes based on our design principles and tested users who were either coaches or athletic trainers. We gathered a list of main conclusions based on the qualitative feedback participants gave us:</p>

      <div class="low-fi">
      <figure>
          <img class="img-responsive" src="../images/NWTN/name.png" style="padding: 5% 0;">
          <figcaption class="text-muted" style="font-size:12px;">More player identification for hit notification - coaches want number, first name and the ability to upload player photos to quickly recognize a player on the app.</figcaption>
      </figure>
      <figure>
          <img class="img-responsive" src="../images/NWTN/hit.png" style="padding: 5% 0;">
          <figcaption class="text-muted" style="font-size:12px;">Users loved the 3D visualization of each impact.</figcaption>
      </figure>
      <figure>
          <img class="img-responsive" src="../images/NWTN/liveMode.png" style="padding: 5% ;">
          <figcaption class="text-muted" style="font-size:12px;">Having to enter ‘Live Mode’ is confusing and coaches are worried they would forget to turn it on before a game or practice.</figcaption>
      </figure>
      <figure style="margin-bottom: 5%;">
          <img class="img-responsive" src="../images/NWTN/low-fi3.png" style="padding: 5% ;">
          <figcaption class="text-muted" style="font-size:12px;">Pocket SCAT is too technical for coaches, not technical enough for athletic trainers.</figcaption>
      </figure>


      <p>Moving forward, we used these findings to guide our decisions for our final design. We needed to take what the current NWTN prototype was and make it more intuitive for users - This would include removing ‘Live Mode’ all together, simplifying the analysis tool for coaches and removing unnecessary language/details that distract from the main purpose of the product.</p>


  </div>
</section>

<div class="col-xs-12 col-sm-10 col-sm-offset-1" style="padding-top: 10%;">
  <h2>THE SOLUTION</h2>

    <p>Concept testing we did during sprint two gave us a deeper understanding that there will be a multitude of different scenarios and situations that this device will be used in from the distribution situations, users, level of technical skills and relationship to athlete.</p>
    <p>We found it beneficial to fulfill the needs of users by providing different, customized experiences. We sought out users in the following roles for our usability testing so we could narrow in on what their most essential needs and goals would be in using NWTN.</p>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <img src="../images/NWTN/archetypes1.png" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <img src="../images/NWTN/archetypes2.png" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <img src="../images/NWTN/archetypes3.png" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <img src="../images/NWTN/archetypes4.png" class="img-responsive" style="margin-top: 5%;">
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;">
    <h2>THE FINAL FEATURES</h2>

		<p><strong>Different interfaces for different users</strong></p>
      <img src="../images/NWTN/final1.png" class="img-responsive" style="margin-top: 5%;">
		    <p>The ability to add team rosters and individual players is a necessity, but the process will differ for coaches and trainers. We adjusted what features should be viewable for different archetypes in order to reduce distraction and unnecessary content. For example, trainers would be able to add multiple schools, teams and athletes, while parents would only be allowed to add multiple players since they would just be monitoring their own children.</p>

		<p style="margin-top: 10%;"><strong>Bluetooth pairing of sensors for athletes</p></strong>
      <img src="../images/NWTN/final2.png" class="img-responsive" style="margin-top: 5%;">
		    <p>Giving coaches the ability to pair players with a sensor as quickly as possible was our goal. Bluetooth allows for an initial set-up that would be more in-depth but will allow for automatic pairing once the sensors are paired to the app.</p>

		<p style="margin-top: 10%;"><strong>SCAT for trainers, basic test for coaches</p></strong>
      <img src="../images/NWTN/final3.png" class="img-responsive" style="margin-top: 5%;">
		    <p>This is an area where coaches and trainers differ. Trainers wanted to see a SCAT test that is relatable to the current paper process the majority are using today and coaches wanted to conduct quick field-side assessments, they didn’t want to deal with a full SCAT assessment. There is a huge opportunity for NWTN to stand out amongst competition in multiple venues if there were a way to create a catered assessment for both roles.</p>

			<p style="text-align: center; padding-top: 10%;">See our entire final prototype of NWTN below</p>
      <div id="prototype" style="margin-top: 5px;">
        CLICK TO VIEW <a id="proLink" href="https://invis.io/B293UMLJP">LIVE PROTOTYPE</a>
      </div>
    </div>

<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
  <h2>RECOMMENDATIONS</h2>

    <p>These are concepts we believe would be successful for NWTN to include, but unfortunately we didn’t have the time in this project phase to create and test them.</p>
      <div id="recs" style="padding-top: 10%;">
        <p><strong>Fully fleshed out SCAT test for trainers</strong> - Athletic trainers we spoke with all agreed their lives would be made easier with a virtual SCAT analysis and we couldn’t call it a SCAT test if it wasn’t the same as the official paper version made currently available by BMJ.
</p>

        <p><strong>Basic account/premium account</strong> - Neil was excited by the idea of a basic account for those that didn’t need an in-depth SCAT tool and a premium account for those that would need it and additional features.
</p>

        <p><strong>Player statistics</strong> - Coaches we spoke with voiced that they would enjoy this feature in order to keep track of player performance and statistics.
</p>
      </div>
    </div>



<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" style="padding: 10% 0;">
  <h2>WHAT I LEARNED</h2>


  <P>My team and I are proud of the work that we did for NWTN and were happy to contribute to a product focused on preventing multiple concussions and potential brain damage for athletes. The co-founder of NWTN was also very pleased with our wireframes that we presented to him and he plans on implementing these in the final product. There was a situation while working on NWTN that we all agreed was a huge learning experience for my entire team, which I found very valuable in order to actively prevent it from happening again.

  In our first kick-off meeting with NWTN, the co-founder didn’t want to bias my team so he hadn’t fully explained the current state of NWTN. This included aspects of the planned final product that had already been solved and he didn’t plan on changing. We weren’t aware of these solutions until our final meeting in which we presented our final prototype to our client. He had already planned on using bluetooth pairing which is what our final prototype included, but we had already done extensive testing on different pairing concepts. We also removed the “live-mode” feature from the current NWTN prototype after it testing poorly with our participants and he told us this feature had already been removed.

  From this experience I learned to encourage communication through the entire design process. although my team and I felt that we could have accomplished more if we had known this information from the start, we understood where he was coming from and we were pleased that our design decisions aligned with his vision of NWTN.
</p>
</div>

</body>
</html>
