<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/ra_study.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <script src="https://use.fontawesome.com/ac6c6ceed0.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <title>Sarah Bannister | UX Designer</title>

</head>

<body>
  <nav>
      <ul class="navbar navbar-default navbar-fixed-top fade-in three" role="navigation">
          <strong><li><a href="../index.html" class="navbar-left">BACK</a><li>
      </ul>
  </nav>

  <section id="intro" class="section" style="padding-top: 10%;">
    <br><h2 style="text-align:center;">RENT APPLICATION</h2>
    <div style="margin: 5%;">
      <div class="container-fluid">
          <p>I worked on a design team to completely recreate the structural interface of the current landing page, onboarding and user dashboard of a rental application screening site. We worked in an iterative process in three sprints broken up by research and design phases.</p>
      </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">AREA OF FOCUS</h6><p class="info" style="margin-left: 7%;">UX</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">TEAM MEMBERS</h6><p class="info" style="margin-left: 7%;">Jason Bergeron</p><p class="info" style="margin-left: 7%;">Jeff Gombos</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="info">TIMELINE</h6><p style="margin-left: 7%;">Three weeks</p>
        </div>
      </div>


<div class="jumbotron">
  <img class="img-responsive" id="hero" src="../images/RentApplication/ra1.png">
</div>

<section class="challenge">
  <div class="container-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;" >
    <h2>THE CHALLENGE</h2>

  <p style="text-align:left;">Rent Application is an online software company that provides a responsive web rental application and automatic screening service. <a href="https://www.rentapplication.net">Rent Application</a> is one of the only services on the market that offer only rental applications and tenant screening services. Eric, the CEO of Rent Application, laid out his business goals for us. Rent Application is focused on targeting landlords that do not need a bundle service. For this reason, they consider themselves not direct competitors to those companies which provide a “bundle like” service. They wish to stay within the realm they are in.
	They currently have approximately 30,000 users registered, but have seen a sharp drop off of users after creating an account. At the time we were hired as designers, they were seeing 84.5% of users who hit the Rent Application landing page bounce entirely. This is an extremely high rate of potential business loss and showed us right away that a possible part of our scope would be revising the landing page as users were not compelled enough to go further than that upon visiting the site.</p>

	<p style="text-align:left;">Although our client was seeing a sharp decline in new users, 24% of people who hit the signup page actually do sign up. Current users of Rent Application agree that the landing page made it hard to understand what the purpose of the service was, but once they got past that and gave it a shot, they told us that Rent Application was a very important piece in their day-to-day work lives. This was proof to us that there was definitely potential to bring more users in, we just needed to define how we would accomplish this.</p>


	<p style="text-align:left;">In our initial kickoff, <strong>Eric requested we focus on the onboarding and dashboard in our scope</strong>, as where most users exist in the site. He was also open to any other areas that we suggested needed work on, so if time in our design sprint allowed, we planned to test and redesign the landing page because of the analytics on initial bounce rate we were given.</p>

    <h2>THE APPROACH</h2>
		  <p style="text-align:left;"><strong>Learning about the rental application screening market</strong></p>

		<p style="text-align:left;">We compared six services’ interfaces and features that Eric considered competitors to Rent Application. We found a <strong>major takeaway</strong> to be true: Almost none of the sites we looked at had a modern, user-friendly experience, except for <a href="cozy.co">Cozy</a>. The rental application landscape is crammed with clunky, out of date websites that are confusing and frustrating. We see this as a great opportunity for Rent Application to stand out amongst the current market.</p>
    <img class="img-responsive" src="../images/RentApplication/ra_analysis.png" style="padding: 7%;">
		<p style="text-align:left;">After conducting the competitive analysis, we began to assess Rent Application. Why is there such a massive drop-off? Here’s what we initially hypothesized before conducting further research:</p>

		<p style="text-align:left;"><strong>We assumed that the dashboard is confusing, price options are unclear and the onboarding process is too lengthy.</strong></p>

		<p style="text-align:left;">We sought to validate these hypotheses by moving forward and conducting our first round of user interviews and testing using Rent Application’s current website.</p>
  </div>
</div>
</section>
</section>

<section id="affinity">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 5%;" >
    <h2 class="approach">UNDERSTANDING RENT APPLICATION</h2>
    <p>We interviewed current and prospective users of Rent Application who worked as landlords and property managers. We asked users many open-ended, behavioral based questions in our interviews, but had a few major internal research questions in mind going into our interviews:</p>


    <section id="questions"  style="padding-top: 5%;" >
      <p><strong>Research Question 1:</strong> Why are users dropping off after signing up?
			The site was seeing a major decline in new users, but has a clientele of existing users. Once users get past the initial confusion of the landing page, it’s more likely they’ll stick around. We wanted to figure out how we would help more users get past this point.</p>


      <p><strong>Research Question 2:</strong> What are the pain points of current and prospective users?
			Not only were there obvious pain points in the dashboard, but Eric sent along a list of customer feedback that indicated there was user dissatisfaction throughout the entire site.</p>


      <p><strong>Research Question 3:</strong> Why would a target user, not currently using the product, not want to transition to RentApplication?
			Especially because so many target users are still using a paper application process. How could we make users excited about transitioning to a digital process in order to make their day-to-day work life easier?</p>

      <figure style= "margin-bottom: 5%">
        <img src="../images/RentApplication/interview.png" class="img-responsive" style="margin-top: 5%;">
        <figcaption class="text-muted">Jeff conducting a test of the original Rent Application site with Joe, a real estate agent</figcaption>
      </figure>
		</section>

    <p>We also asked participants to run through a couple of task flows that a user would likely complete to get an idea of the overall goals and needs of the target user using Rent Application. These were based around seeing how users would create an application and expect to screen a prospective tenant.
		We finished our testing with a set of qualitative questions to gain insight on where users frustrations lie. There was a mixture of negative opinions and positive experiences, the latter mainly coming from existing users who had gotten past the initial confusion of the landing page.<strong><p>What users said:</p></strong></p>


  <figure>
		<p class="userquote">“This site needs to act more like an app when used on a phone, so I can use it while showing a place to a prospective tenant.” - Susan, property manager</p>
    <img src="../images/RentApplication/ra1mobile.png" class="img-responsive">
    <figcaption class="text-muted">Screenshot of the mobile interface. The navbar is obtrusive and the rest of the screen doesn't respond well to small screen sizes.</figcaption>
  </figure>

  <figure>
		<p class="userquote">“I like that Rent Application is less work for the landlord and less involved than cozy” - Raul, landlord</p>
    <img src="../images/RentApplication/ra2.png" class="img-responsive">
    <figcaption class="text-muted">Explanation of the process taken from their website. Users love that Rent Application makes the screening process automated once they figured out how to use the site.</figcaption>
  </figure>

  <figure>
		<p class="userquote">“Way too much text on most pages, I don’t want to read all of this” - Joe, real estate agent</p>
    <img src="../images/RentApplication/ra3.png" class="img-responsive">
    <figcaption class="text-muted">This was quoted across the board, users will not read tons of detailed text.</figcaption>
  </figure>

  <figure>
		<p class="userquote">“Rent Application does what I need it to do for processing applicants easily and quickly - Plus it’s cheaper than other services I’ve used in the past” - Karmen, landlord</p>
    <img src="../images/RentApplication/ra4.png" class="img-responsive">
    <figcaption class="text-muted">Breakdown of their report pricing from their site. Although their pricing is reasonable compared to competition, many users didn't understand what these costs went towards.</figcaption>
  </figure>

  <figure>
		<p class="userquote">“The first time I visited the site, I was confused about what they offered and if it was targeted towards landlords” - Hannah, landlord</p>
    <img src="../images/RentApplication/ra5.png" class="img-responsive">
    <figcaption class="text-muted">The founders of Rent Application both mentioned confusion amongst applicants and landlords around who the website is for.</figcaption>
  </figure>

		<p style="margin-top: 10%;">We took this feedback and pulled noteworthy comments and feedback to compile an affinity diagram that helped us group our data into important portions.</p>

    <img src="../images/RentApplication/aff_jason.jpeg" class="img-responsive" style="margin-top: 5%;">

		<p style="font-size: 18px;"><strong>Positives:</strong>
      <div class="row ">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
		    <p class="post_it" style="background: #fcf283; margin: 4%;">Cheaper than other competitors</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
		      <p class="post_it" style="background: #95dbd5; margin: 4%;">Users love the option of a free applicaiton</p>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
		        <p class="post_it" style="background: #fcf283; margin: 4%;">The process is very easy once you figure out how to use the website</p>
          </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
		          <p class="post_it" style="background: #95dbd5; margin: 4%;">Quick response with customer support email service</p>
    </div>

  </div>


	  <p style="margin-top: 5%; font-size: 18px;"><strong>Frustrations:</p></strong>
    <div class="row ">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <p class="post_it" style="background: #f2abab; margin: 4%;">Poor mobile experience (This was a complaint amongst all existing participants)</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <p class="post_it" style="background: #fccd80; margin: 4%;">Tenant application is very long on one page and not broken down into understandable sections</p>
      </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <p class="post_it" style="background: #f2abab; margin: 4%;">Save button on forms is not prevalent enough, this could also be solved with an auto save feature</p>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <p class="post_it" style="background: #fccd80; margin: 4%;">Getting logged out and sent back to the home page any time the back button is clicked, even if it wasn’t the previous page</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <p class="post_it" style="background: #f2abab; margin: 4%;">Confusion about price points</p>
          </div>
      </div>

      </div>
	</div>
</div>
</section>

<section class="synth">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;">

    <h2>SYNTHESIZING OUR DATA</h2>
      <p>We had a lot of insightful quotes and feedback from our users to work from, but we really wanted to empathize with our target audience on a deeper level. In order to better understand what a user is feeling throughout the process of using Rent Application, we created a customer journey map and a persona named Maria as an aggregation of our gathered user data.</p>
          <img src="../images/RentApplication/maria1.png" class="img-responsive" style="margin-top: 10%;">
      		<img src="../images/RentApplication/cjm_ra.png" class="img-responsive">
          <img src="../images/RentApplication/maria2.png" class="img-responsive">
      <p>Our client claimed to not have many touch points with their users, so we presented our client with Maria as our synthesized user experience using Rent Application to help them gain perspective they may have never considered previously.
			Maria’s journey was a mobile experience to highlight this aspect of users’ frustrations, so we intended to focus on the desktop experience primarily with the intention of creating adjusted mobile wireframes as well that would be presented as a deliverable for Eric to use and pass onto a UI designer in the future.
			This process of analyzing and reflecting on the important takeaways led us to the following problem that we aimed to solve:</p>
      <p class="problem">Users desire the features that Rent Application provides. However once new users create an account, users find that the product has imprecise directions, confusing organization, and faulty functionality. Repeated feelings of frustration cause new users to abandon Rent Application. How will we design interactions that <strong>support users along a clear and efficient pathway toward screening tenants in order to increase user retention?</strong></p>
  </div>
</section>

<section class= "process">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;" >
    <h2>OUR PROCESS</h2>

    <div class="col-xs-6 col-sm-6 col-md-6">
      <img src="../images/RentApplication/robin1.jpg" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img src="../images/RentApplication/robinRound.jpg" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img src="../images/RentApplication/robin3copy.png" class="img-responsive" style="margin-top: 5%;">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img src="../images/RentApplication/robin2.jpg" class="img-responsive" style="margin-top: 5%;">
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <p>Now that we were aligned on the area of opportunity to improve Rent Application, we moved into our second sprint and started creating concepts on features that were best to test in our individual designs.</p>

			<p>We each voted for the ideas we found most crucial to include in our low-fidelity prototypes.</p>

			<p><strong>Here are the concepts we chose to test in each prototype:</strong></p>


			<p style="margin-top: 5%;"><strong>Onboarding</strong></p>
      <img src="../images/RentApplication/onboarding.png" class="img-responsive" style="margin-top: 5%;">
			<p>- Simplifying the steps for the current onboarding</p>
			<p>- We also tested removing onboarding all together<p>

			<p style="margin-top: 5%;"><strong>Language<strong></p>
      <img src="../images/RentApplication/language.png" class="img-responsive" style="margin-top: 5%;">
			<p>- Professional language</p>
			<p>- Conversational language</p>

			<p style="margin-top: 5%;"><strong>Dashboard layout</strong></p>
      <img src="../images/RentApplication/tabs.png" class="img-responsive" style="margin-top: 5%;">
			<p>- Mental models, closer to what paper users are familiar with</p>
      <img src="../images/RentApplication/dash.png" class="img-responsive" style="margin-top: 5%;">
			<p>- And a more modern, minimalist design</p>

			<p style="margin-top: 5%;"><strong>Creating an application</strong></p>
      <img src="../images/RentApplication/applicationLowFi.png" class="img-responsive" style="margin-top: 5%;">
			<p>- Completely customizable application, similar to what the existing site offers</p>
			<p>- Ready-to-send, full application, with minimal ability for customization</p>

      <figure>
        <img src="../images/RentApplication/ra_principles.png" class="img-responsive" style="margin-top: 10%;">
        <figcaption class="text-muted">We crafted a set of design principles to use as a guide while creating individual concepts.</figcaption>
      </figure>

  </div>
</section>

<section id="diverge">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;" >
    <h2>CONCEPT TESTING</h2>

      <p>We created our low-fidelity desktop prototypes using Sketch and tested five individuals varying in roles including landlords, property managers, a broker and a leasing agent. Our second sprint only allowed three days for us to create a set of wireframes and test them so we unfortunately weren’t able to produce the intended mobile low-fidelity set we planned. We still wanted to create mobile wireframes for Rent Application because we knew that there was so much room for improvement on the mobile experience, so we chose to test those in our next sprint.</p>

        <div id="takeaways"  style="padding-bottom: 5%;" >
          <p><strong>Takeaways from professional prototype:</strong></p>
            <p>- Technical, professional language throughout.</p>
					       <p>- Users liked the familiarity of a paper style application layout.</p>
					            <p>- A more guided approach with little room for error.</p>

          <p><strong>Takeaways from mental model prototype:</strong></p>
					     <p>- Overall, the mental model dashboard was desired.</p>
					          <p>- Sorting the dashboard by property was very appreciated.</p>
					               <p>- The dashboard needs to draw the eye to the most common actions.</p>

          <p><strong>Takeaways from modern prototype:</strong></p>
					     <p>- Onboarding isn’t necessary when we created an easy to understand dashboard.</p>
					          <p>- Simple, but possibly too simple for an older generation who isn't as accustomed to modern design patterns.</p>
					               <p>- Went over very well with younger users.</p>
        </div>

      <p>We tested users in a wide demographic, ages ranging from 22 to more established, older landlords. We were certain we needed to create something that would accommodate as many target users as possible, for the tech skill levels of those in the real estate industry were widely varied.</p>

      <img src="../images/RentApplication/demographic.png" class="img-responsive" style="margin-top: 5%;">

  </div>
</section>

<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 10%;">
  <h2>THE SOLUTION</h2>

    <p>Within our prototypes, we all implemented:</p>
		<p>- <strong>Reduced learning curve</strong> by providing users with guided options.</p>
		<p>- </strong>Reduced ambiguity</strong> with less text and clearer language.</p>
		<p>- <strong>Increased credibility</strong> by explaining how Rent Application works and how they are the best option for sending applications and screening potential tenants.</p>
		<p>Our next step was to converge on one design for our final prototype. We all had really successful features so we chose to take these pieces of our individual prototypes and combine them to create our mid-fidelity prototype.</p>

    <h2>BEST OF THE CONCEPTS</h2>

    <figure>
		<p><strong>Jason’s landing page</strong></p>
      <img src="../images/RentApplication/jason.png" class="img-responsive" style="margin-top: 5%;">
		    <figcaption class="text-muted">Clear, professional language that allowed for a quick understanding of what Rent Application provides</figcaption>
    </figure>

    <figure>
		<p style="margin-top: 10%;"><strong>Jeff’s mental model dashboard</p></strong>
      <img src="../images/RentApplication/jeff.png" class="img-responsive" style="margin-top: 5%;">
		    <figcaption class="text-muted">Helped users understand the functionality of the separate application status folders</figcaption>
    </figure>

    <figure>
		<p style="margin-top: 10%;"><strong>My paper style application</p></strong>
      <img src="../images/RentApplication/sarah.png" class="img-responsive" style="margin-top: 5%;">
		    <figcaption class="text-muted">Creating a streamlined process that allows users to choose reports and create applications to send out as quickly as possible</figcaption>
    </figure>

		<p style="margin-top: 10%;">For our final round of testing, we had users complete the task of creating an application and sending it to a prospective tenant on our desktop and mobile prototypes. We also asked them to think aloud as much as possible so we could understand what they liked and disliked.</p>

    </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding-top: 5%;">
    <h2>WHAT USERS LOVED</h2>

			<p style="margin-top: 5%;"><strong>Landing page</strong></p>

    <div class="container-fluid">
			<div class="col-md-8">
			  <img class="img-responsive" src="../images/RentApplication/landing.png" style="padding: 7%;">
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="../images/RentApplication/landing2.png" style="padding: 7%; margin-top: 10%;">
			</div>
      <div class="col-md-12">
			  <p style="text-align:center;" class="text-muted">Newspaper model that demonstrated what was most important.</p>
      </div>
    </div>

			<p style="margin-top: 5%;"><strong>Testimonials</strong></p>
      <div class="container-fluid">
			<div class="col-md-12">
        <figure>
				  <img class="img-responsive" src="../images/RentApplication/testimonials.png" style="padding: 7%;">
			     </div>

			      <figcaption class="text-muted">Included testimonials with real photos to increase trust and credibility.</figcaption>
        </figure>
      </div>

			<p style="margin-top: 5%;"><strong>Folder organization structure</strong></p>

			  <div class="col-md-12">
          <figure>
				    <img class="img-responsive" src="../images/RentApplication/folders.png" style="padding: 7%;">
			        </div>

              <figcaption class="text-muted">Collapsable sections and showing only what was needed was greatly appreciated. “Properties with new reports” instead of “active applications” made the application section of the dashboard easier to understand for users.</figcaption>
          </figure>

        <p class="quote">“I really like the way this dashboard is laid out, it’s so simple.” - Hannah, Landlord</p>

				<p style="margin-top: 5%;"><strong>Notifications</p></strong>

				<div class="col-md-12">
          <figure>
					  <img class="img-responsive" src="../images/RentApplication/notifications.png" style="padding: 7%;">
				      </div>

				        <figcaption class="text-muted">Added glanceable notification badges to allow users to know when they had new reports without having to locate by digging through the entire submitted applications section.</figcaption>
            </figure>

				<p style="margin-top: 5%;"><strong>Reports</p></strong>

				<div class="col-md-12">
          <figure>
					  <img class="img-responsive" src="../images/RentApplication/reports.png" style="padding: 7%;">
				      </div>

				        <figcaption class="text-muted">Included a bundled application package along with making pricing more understandable.</figcaption>
            </figure>

				<p style="margin-top: 5%;"><strong>Creating applications</strong></p>

				<div class="col-md-12">
          <figure>
					  <img class="img-responsive" src="../images/RentApplication/application.png" style="padding: 7%;">
				      </div>

				        <figcaption class="text-muted">Added pagination and easily viewable sections while creating an application.</figcaption>
              </figure>


			<p style="text-align: center; padding-top: 10%;">See our final prototype of Rent Application below</p>
      <div id="prototype" style="margin-top: 5px;">
        CLICK TO VIEW <a id="proLink" href="https://invis.io/MV9OMMQWH">LIVE PROTOTYPE</a>
      </div>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
  <h2>RECOMMENDATIONS</h2>

    <p>Because Rent Application aims to provide a specialized service of only providing tenant applications and screenings, there needs to be an attempt to include every possible situation that a potential tenant could bring when applying for a property. These are the future recommendations we suggested to Eric in order to provide users with a more well-rounded, customizable experience:</p>
      <div id="recs" style="padding-top: 10%;">
        <p><strong>Addendums</strong> - Adding customizable addendums and special circumstance sections to applications, such as pets or additional accessibility needs.</p>

        <p><strong>Email system</strong> - Decreasing the current frequency of emails sent to users. My team all signed up for Rent Application accounts and were surprised that we got multiple emails a week that didn’t have any necessary or helpful content. This was not backed by research that this was also a pain point for our target audience so this would be something we would test in the future if we had more time.</p>

        <p><strong>Uniform Styling</strong> - Making sure all of the screens and elements share the same styling. There were certain screens that we didn’t have time to focus on in our limited time frame. Some of these screens didn’t visually align with the site’s overall look, such as the error page which included a different type-face and color scheme.</p>
      </div>
    </div>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" style="padding: 10% 0;">
  <h2>WHAT I LEARNED</h2>

    <p>We needed to make sure we were going to deliver what we had presented to our client. When we presented our customer journey map and Maria’s experience using Rent Application with a mobile platform in mind, our client expected more of a focus on mobile testing; we didn’t clarify that desktop was our primary concern. We thought it would be important to showcase how poor the mobile experience was for users. What we presented should have aligned more with our scope and primary focus and a promise to include mobile as a secondary concern. We still delivered an accompanying set of mobile wireframes along with our desktop prototype so that they will be able to use these to improve their mobile interface in the future, but the majority of our testing was completed on our desktop prototypes. This was an important learning experience for me; I am now more prepared to communicate clearly and demonstrate what the client can expect in terms of final deliverables.</p>
</div>

</body>
</html>
