<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/uber.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <script src="https://use.fontawesome.com/ac6c6ceed0.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Lust' rel='stylesheet' type='text/css'>

    <title>Sarah Bannister | UX Designer</title>

</head>

<body>
    <nav>
        <ul class="navbar navbar-default navbar-fixed-top fade-in three" role="navigation">
            <strong><li><a href="../index.html" class="navbar-left">BACK</a><li>
      </ul>
  </nav>

<div class="jumbotron">
  <img src="../images/UberUI/uberMap.png" class="banner fade-in one"><p id="UIsubtext">Uber CarShare Concept UI - A Personal Design Project</p>
</div>


<section id="intro" class="section" style="padding-top: 5%;">
  <br>

    <div class="container-fluid">
    </div>

      <div class="col-sm-6 col-md-4 col-md-offset-4 col-lg-4 col-md-offset-2">
        <h6 class="info">AREA OF FOCUS</h6><p class="info">UI Design</p><p class="info">Brand Guidelines</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <h6 class="info">TOOLS</h6><p class="info">Sketch</p><p class="info">Adobe Illustrator</p><p class="info">Axure</p>
      </div>

<div class="col-sm-5 col-sm-pull-1 col-md-5" display="hide-xs">
  <img class="img-responsive" id="uiImg" src="../images/UberUI/welcome.png">
</div>

</section>


<section class="challenge">
  <div class="col-sm-6 col-md-6">
    <h2>UBER CARSHARE</h2>

    <p>Because design is an iterative, continuous process, I'm always looking at how I can improve my past works. I wanted to redesign the UI for the previous
    carsharing app I contributed to while learning in a UX education program. My main focus in this redesign was to implement Uber's design guidelines,
    being that the context was to design a carsharing app and align it with Uber's guidelines and business model. Since our overall product tested well with users,
    I kept the majority of the features and concepts my group and I created. The main difference in my personal concept is aligning closer to Uber's design elements,
    layout, and language.</p>

  </div>
</section>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" style="padding-top: 5%;">
  <h2 style="text-align:center;">HIGH-FIDELITY MOCKUPS</h2>
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-10">
<section class="mockUps" style="padding-top: 10%;">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/register.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/license.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/payInfo.png">
  </div>
</section>

<p><strong><u>Guided, step-by-step process</u></strong> - The progress bar at the top of the screen during every flow allows users to know what's next in the experience.
  Based on UX research from the previous design, users felt more at ease knowing how close they were to completeting a task.</p>

<section class="mockUps">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/home.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/location.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/myTrips.png">
  </div>
</section>

<p><strong><u>Minimalistic design leads to minimal distraction</u></strong> - Uber makes use of minimalist design, especially in the main map section.
My goal was to replecate this in order to allow for finding a car share station quickly and easily.</p>

<section class="mockUps">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/startTime.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/returnTime.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/vehicles.png">
  </div>
</section>

<p><strong><u>Expedited reservation process</u></strong> - My goal was to prevent any error or confusion in the reservation procses.
  Streamlining the reservation flow guides users through reserving a vehicle while giving them the freedom to choose what they want to drive, whenever and wherever they are.</p>

<section class="mockUps">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/filter1.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/filter2.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/filter3.png">
  </div>
</section>

<p><strong><u>Giving choice through customization</u></strong> - Reserving a vehicle is carved out for the user, that's most important.
  That doesn't mean they shouldn't be able to narrow it down to a vehicle best suited for their needs.</p>

<section class="mockUps">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/carSelect.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/pay.png">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" id="hi-fi" src="../images/UberUI/confirm.png">
  </div>
</section>

<p><strong style="padding-bottom: 20%;"><u>No hidden fees and clear costs</u></strong> - Users appreciated the clear breakdown of cost per hour and the progress bar informing them where they are in the reservation process.</p>

</div>
</body>
</html>
