


/****** GENERAL ******/

body {
    background-color: white;
    top: 0;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
}
h1{
  font-family: 'Helvetica Neue', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 300;
}
h2{
  font-family: 'Helvetica Neue', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
}
h3{
  font-family: 'Helvetica Neue', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 100;
}
h4{
font-family: 'Helvetica Neue', sans-serif;
font-weight: lighter;
color: #fff;
letter-spacing: 1px;
margin-bottom: 10px;
}
h5{
  font-family: 'Helvetica Neue', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  margin-left: 10%;
}
h6{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #d6aa77;
  letter-spacing: 3px;
  margin-left: 10%;
}
p{
  font-size: 16px;
  color: #4a4a4a;
  font-family: 'Avenir', sans-serif;
  text-align: center;
}
hr{
  width: 50%;
  border-color: #7f2852;
  margin-bottom: 20px;
}
img{
  padding: 0;
}
.btn-default {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
  background: none;
  color: #7f2852;
  border: 2px solid #7f2852;
}
.btn-default:hover {
  border: 2px solid #7f2852;
  color: #fff;
  background: #7f2852;
}


/****** NAVBAR ******/

a:focus, a:hover{
  text-decoration: none;
}
.banner {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}
.navbar-fixed-top{
  border: 0;
  height: 10%;
  color: #d6aa77;
  background: #fff;
  float: none;
}
nav {
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: none;
}
nav ul li {
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
}
nav ul li a {
    color: #d6aa77;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 30%;
    display: inline-block;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}
ul, menu, dir {
  padding-left: 0px;
}
nav ul li a:hover {
    color: #4a4a4a;
    text-decoration: none;
}

/****** NAVBAR RESPONSIVE ******/


@media screen and (max-width:45em) {
li{
  padding: 30px 20px 0 20px;
}
}
@media screen and (max-width:42em) {
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
    font-size: 15px;
  }
  li{
    padding: 30px 10px 0 10px;
  }
  .navbar-fixed-top{
    padding-bottom: 20px;
  }
}
@media screen and (max-width:32em) {
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
    font-size: 14px;
    font-weight: 200;
  }
  h1{
    font-size: 18px;
    font-weight: 200;
  }
  h2{
    font-size: 16px;
    font-weight: 200;
  }
}

/****** JUMBOTRON ******/

#hero{
  text-align: center;
}
#subtext{
  position: absolute;
  text-align: left;
  bottom: 15%;
  padding: 5% 20% 5% 2%;
  font-family: 'Avenir', serif;
  letter-spacing: 2px;
  font-size: 180%;
  color: #fff;
  max-width: 100%;
  height: auto;
  line-height: 150%;
}
.jumbotron {
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
    margin: 0 auto;
    position: relative;
}
@media only screen and (max-width: 40em){
.banner{
  height: 230px;
  width: 100%;
}
}
@media only screen and (max-width: 60em){
#subtext{
  bottom: 5%;
}
}
@media only screen and (max-width: 50em){
#subtext{
  font-size: 140%;
  bottom: 5%;
}
}
@media only screen and (max-width: 40em){
#subtext{
  font-size: 80%;
  bottom: 3%;
  text-align: center;
  padding: 5% 3% 10% 3%;
}
}

/****** CASE STUDY - INTRO ******/

#intro{
  padding: 0 40px 0 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

p.context{
    margin: 0 10%;
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'Avenir', sans-serif;
    text-align: center;
}
.info{
  max-width: 100%;
  height: auto;
  float: none;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  float: none;
}
.info p{
  display: inline-block;
  text-align: center;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.col-fixed {
    width:320px;
}
.col-min {
    min-width:320px;
}
.col-max {
    max-width:320px;
}
@media only screen and (max-width: 42em){
  .col-centered {
      display: block;
      float:none;
      text-align: center;
      margin-right:-4px;
  }
}

/******** STORY **********/

.story{
  padding: 0 13%;
}
