/****** GENERAL ******/

body {
    background-color: white;
    top: 0;
    overflow: auto;
    z-index: 99;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
h1{
  font-family: 'Helvetica Neue', sans-serif;
  color: #DBBE9C;
  letter-spacing: 3px;
  font-weight: 100;
}
h2{
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 100;
}
h3{
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 100;
}
h4{
font-family: 'Helvetica Neue', sans-serif;
font-weight: lighter;
color: #fff;
letter-spacing: 1px;
margin-bottom: 10px;
}
hr{
  width: 50%;
  border-color: #fff;
  margin-bottom: 20px;
}
img{
  padding: 0;
}
.btn-default {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
}
.btn-default:hover {
  background: none;
  color: #5a5a5a;
  border: 2px solid #5a5a5a;
}


/****** NAVBAR ******/

a:focus, a:hover{
  text-decoration: none;
}
.banner {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-top: 20px;
}
li {
    padding: 40px 65px 0 65px;
    margin: 0;
  }
.navbar-fixed-top{
  border: 0;
  height: 10%;
  color: #c14da4;
}
nav {
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: none;
}
nav ul li {
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
}
nav ul li a {
    color: #c14da4;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 30%;
    display: inline-block;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

/****** JUMBOTRON ******/

#hero{
  position: absolute;
  bottom: 10%;
  padding: 0 10% 13% 5%;
  float: left;
  font-family: 'Lust', serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 450%;
  color: #fff;
  max-width: 100%;
  height: auto;
  line-height: 150%;
}
#subtext{
  position: absolute;
  bottom: 10%;
  padding: 5% 10% 10% 5%;
  font-family: 'Helvetica Neue', serif;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 40%;
  color: #DBBE9C;
  max-width: 100%;
  height: auto;
  line-height: 150%;
}
@media only screen and (min-width: 70em){
#hero{
  font-size: 600%;
}
}
@media only screen and (max-width: 55em){
#hero{
  font-size: 360%;
}
}
@media only screen and (max-width: 48em){
#hero{
  bottom: 20%;
  padding: 0 5% 10% 5%;
  float: left;
  font-family: 'Sarina', serif;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 230%;
  color: #fff;
  max-width: 100%;
  height: auto;
  line-height: 150%;
}
#subtext{
  text-align: center;
  font-family: 'Helvetica Neue', serif;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 40%;
  color: #DBBE9C;
  max-width: 100%;
  height: auto;
  font-weight: 200;
  line-height: 150%;
}
}
@media only screen and (max-width: 32em){
  #hero{
    bottom: 20%;
    padding: 0 10% 10% 5%;
    float: left;
    font-family: 'Sarina', serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 180%;
    color: #fff;
    max-width: 100%;
    height: auto;
    line-height: 150%;
}
#subtext{
  text-align: center;
  font-family: 'Helvetica Neue', serif;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 60%;
  color: #DBBE9C;
  max-width: 100%;
  height: auto;
  font-weight: 200;
  line-height: 150%;
}
}
.jumbotron {
    padding-top: 0;
    background-color: transparent;
    border: 20px solid #fff;
    border-bottom: 0;
    margin: 0 auto;
    position: relative;
    padding-bottom: 0;
}
@media only screen and (max-width: 40em){
.banner{
  height: 300px;
  width: 100%;
}
.jumbotron{
  border: 0;
}
}

/****** PORTFOLIO ******/

/*#sideShape{
  border: 0;
  display: block;
  margin-top: -630px;
  position: inherit;
  max-height: 50%;
  width: auto;
  padding: 0;
}*/
.portfolio{
  height: 100%;
  width: auto;
  background-color: #fff;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 130px 0;
  margin-bottom: 300px;
}
.portfolio .project {
  height: 150px;
  width: auto;
}
.portfolio h2{
  color: #3a3a3a;
}
.hex{
  max-width: 60%;
  height: auto;
  display: inline-block;
  position: relative
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

/****** ABOUT ME ******/

.aboutMe {
  padding: 0 40px 50px 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #DBBE9C;
  display: inline-block;
  background-color: #fff;
  height: 100%;
  width: auto;
  margin: 0 40px 300px;
  letter-spacing: 1px;
  line-height: 40px;
}
p#about{
  margin: 20px 0 0 30px;
  font-size: 16px;
  orphans: 3;
}
.img-circle{
  margin: 20px;
  width: 250px;
  height: auto;
  display: inline-block;
  border: 4px solid #e9e9e9;
}
.social {
    font-size: 25px;
    padding: 10px 0 20px 0;
}
.social h4{

}
.social-icon {
    width: 80px;
    height: 50px;
    color: #fff;
    display: inline-block;
    font-size: 2em;
    margin: 20px 10px 0 0;
    padding-top: 7px;
    border-radius: 75px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}
.social-icon:hover {
    color: #009982;
}


/* fade animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 2s;
    -moz-animation: fadeIn ease-in 2s;
    animation: fadeIn ease-in 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}
.fade-in.one {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

}
.fade-in.two {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.fade-in.three {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
    background-color: #fff;
}

@media screen and (max-width:98em) {
  li {
    padding: 40px 90px 20px 90px;
  }
}
@media screen and (max-width:80em) {
  li {
    padding: 40px 60px 0 60px;
  }
}
@media screen and (max-width:45em) {
li{
  padding: 30px 20px 0 20px;
}
}
@media screen and (max-width:42em) {
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
    font-size: 15px;
  }
  li{
    padding: 30px 10px 0 10px;
  }
  .navbar-fixed-top{
    padding-bottom: 20px;
  }
}
@media screen and (max-width:32em) {
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
    font-size: 14px;
    font-weight: 200;
  }
  h1{
    font-size: 18px;
    font-weight: 200;
  }
  h2{
    font-size: 16px;
    font-weight: 200;
  }
}
ul, menu, dir {
  padding-left: 0px;
}
nav ul li a:hover {
    color: #009982;
    text-decoration: none;
}
@media screen and (max-width:65em) {
.img-circle{
  margin: 40px 0 5px 0;
  }
}
@media screen and (max-width: 38em) {
  .aboutMe{
    padding: 40px 0 40px 0;
    margin: 0 8px 200px 8px;
  }
}
#contact {
  margin: 0 auto;
  background-color: #DBBE9C;
  width: 100%;
  height: auto;
  padding: 20px;
  letter-spacing: 2px;
  font-family: 'Titillium Web', sans-serif;
}
#chat{
  color: #fff;
}
.email {
  color: #e9e9e9;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 18px;
}
.email:hover{
  color: #009982;
}
label{
  font-size: 16px;
}
@media screen and (max-width:48em) {
  #contact {
    height: auto;
    margin: 0 auto;
  }
  .aboutMe {
    padding: 10px 0 40px 0;
  }
  p#about {
    margin: 0 auto;
    font-weight: 200;
  }
.social {
    font-size: 25px;
    border-radius: 25px;
}
.social p {
    margin: 0 20px;
    padding: 20px 40px 5px 40px;
    line-height: 30px;
    font-size: 16px;
}
.social p a {
    color: #34B484;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.social-icon {
    width: 80px;
    height: 50px;
    color: #fff;
    display: inline-block;
    margin: 20px 10px 0 10px;
    padding-top: 7px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}
.social-icon:hover {
    color: #5a5a5a;
}
.social-icon h3 {
    margin-top: 12px;
}
@media screen and (max-width:38em) {
  .jumbotron {
      margin: 20px 0 20px 0;
  }
  .aboutMe p{
    padding: 10px 0;
    width: 100%;
    height: auto;
    font-size:13px;
    font-weight: 200;
    margin: 0 auto;
  }
  #contact {
    height: 100%;
    width: auto;
  }
  .btn-default {
    font-size: 14px;
  }
}
    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding-top: 15px;
        margin-top: 15px;
    }
    .social-icon {
        width: 20%;
        height: 50px;
        color: #fff;
        font-size: 1.2em;
        display: inline-block;
        margin: 20px 0 0 0;
        border-radius: 15px;
    }
    /****** FOOTER ******/

    footer{
      height: 40px;
      width: 100%;
      color: #5a5a5a;
      font-family: 'Helvetica Neue', sans-serif;
      letter-spacing: 2px;
      font-size: 1em;
      font-weight: 200;
      padding: 10px 0;
      margin: 20px 0;
    }
    footer p{
      font-size: .8em;
    }
