@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* fade animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    animation: fadeIn ease-in 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.fade-in.one {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;

}

/****** GENERAL ******/

body {
    background-color: #f4f2f2;
    top: 0;
    height:100%;
    overflow: auto;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 200;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #d6aa77;
  letter-spacing: 1px;
  font-weight: 200;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
  color: #d6aa77;
  letter-spacing: 1px;
}
h4{
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
color: #fff;
letter-spacing: 1px;
margin-bottom: 10px;
}
p{
  font-family: 'Montserrat', sans-serif;
}
hr{
  width: 50%;
  border-color: #fff;
  margin-bottom: 20px;
}
img{
  padding: 0;
}
a{
  color: #d6aa77;
  font-weight: bold;
  text-decoration: underline;
}
a:hover{
  color: #5a5a5a;
}
.btn-default {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px;
  width: 60%;
  background: none;
  margin-top: 1%;
  color: #fff;
  background-color: #d6aa77;
  border: solid 2px #d6aa77;
  border-radius: 0;
  text-decoration: none;
}
.btn-default:hover{
  color: #d6aa77;
  background-color: #fff;
  border: solid 2px #d6aa77;
}
@media screen and (max-width:36em) {
.btn-default {
  width: 100%;
}
}

/****** NAVBAR ******/

a:focus, a:hover{
  text-decoration: none;
}
.banner {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
#img2{
  display: none;
}
  li {
      padding: 0px 50px 30px 50px;
      margin: 0;
    }
  .navbar-fixed-top{
    border: 0;
    margin-bottom: 40px;
    height: 10%;
    color: #d6aa77;
    background: #fff;
    display: inline-block;
  }
  nav {
      text-align: center;
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      background: none;
  }
  nav ul li {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
  }
  nav ul li a {
      color: #d6aa77;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      display: inline-block;
      text-decoration: none;
      transition-property: all .2s linear 0s;
      -moz-transition: all .2s linear 0s;
      -webkit-transition: all .2s linear 0s;
      -o-transition: all .2s linear 0s;
  }
  ul, menu, dir {
    padding-left: 0px;
  }
  nav ul li a:hover {
    color: #4a4a4a;
    text-decoration: none;
  }

  /****** NAVBAR RESPONSIVE ******/

  @media screen and (max-width:98em) {
    li{
      padding: 2% 9% 0 10%;
    }
    .navbar-fixed-top{
      padding-bottom: 5%;
    }
  }
  @media screen and (max-width: 60em) {
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
      font-size: 14px;
    }
    li{
      padding: 30px 50px 0 50px;
    }
    .navbar-fixed-top{
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width:38em) {
    nav ul li {
        display: inline-block;
    }
    li{
      padding: 25px 20px 0 20px;
    }
    nav ul li a {
      font-size: 13px;
      font-weight: 200;
    }
    h1{
      font-size: 18px;
      font-weight: 200;
    }
    h2{
      font-size: 16px;
      font-weight: 200;
    }
  }
/****** JUMBOTRON ******/

#hero{
  position: absolute;
  bottom: 10%;
  padding: 0 10% 13% 5%;
  float: left;
  font-size: 570%;
  font-family: 'Permanent Marker', 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMhl1E_8U4SpYtCavOB-IMDg.eot');
  src: url('http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMhl1E_8U4SpYtCavOB-IMDg.eot?#iefix') format('embedded-opentype'),
       local('Permanent Marker'),
       local('Permanent-Marker-regular'),
       url('http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMio-5Z6V1O0VBgfXWFfbB4c.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMmVSxyvLCPm9firj_jMeQtQ.woff') format('woff'),
       url('http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMrg27BfaRSB61e9iDGqjWqk.ttf') format('truetype'),
       url('http://fonts.gstatic.com/l/font?kit=9vYsg5VgPHKK8SXYbf3sMnun_M_OMvfRqqwdtVuHdps&skey=84f486597b8007d1&v=v5#PermanentMarker') format('svg');
  color: #fff;
  max-width: 100%;
  height: auto;
  line-height: 150%;
  letter-spacing: 0;
}
#subtext{
  position: absolute;
  bottom: 12%;
  padding: 5% 10% 10% 5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 150%;
  letter-spacing: 5px;
  color: #d6aa77;
  max-width: 100%;
  height: auto;
  line-height: 150%;
}
@media only screen and (max-width: 50em){
  h1{
    font-size: 200%;
  }
  .banner {
    width: 100%;
    height: auto;
    margin-top: 7%;
  }
  #hero{
    position: absolute;
    letter-spacing: 1px;
    bottom: 10%;
    padding: 0 10% 13% 5%;
    font-size: 400%;
  }
  #subtext{
    position: absolute;
    bottom: 9%;
    padding: 5% 10% 10% 5%;
    font-size: 160%;
    letter-spacing: 2px;
    font-weight: 300;
}
}
@media only screen and (max-width: 40em){
  #hero{
    font-size: 400%;
    text-align: left;
    bottom: 40%;
  }
  #subtext{
    font-size: 140%;
    text-align: left;
    font-weight: bolder;
    bottom: 40%;
  }
  .jumbotron img{
    display: none;
  }
  #img2{
    margin-top: 5%;
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.7);
  }
}
  @media only screen and (max-width: 36em){
    #hero{
      font-size: 370%;
      bottom: 30%;
    }
    #subtext{
      font-size: 120%;
      bottom: 30%;
      width: 100%;
    }
  }
    @media only screen and (max-width: 32em){
      #hero{
        font-size: 250%;
        bottom: 35%;
      }
      #subtext{
        font-size: 100%;
        bottom: 35%;
        width: 100%;
      }
      #img2{
        width: 150%;
        height: 100%;
      }
}
.jumbotron {
    padding: 0;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

/****** PORTFOLIO ******/
section{
  position:relative;
}
#portfolio{
  padding: 10% 0;
}
/* .sticky{
  height: 100%;
  width: 30%;
  float: left;
  position: absolute;
}
.sticky.fixy{
  position:fixed;
  top:0;
  left:0;
}
.sticky.bottom{
  position:absolute;
  bottom:0;
}
.smallWork{
  display: none;
}
.onehalf{
  background-color: #fff;
  color: #d6aa77;
  padding-bottom: 32px;
  font-size: 18px;
} */
/* .scrolling{
  width:100%;
} */
/* .twohalf.pic{
  left: 50%;
  float: none;
  background-color: #fff;
} */
/* .twohalf{
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 60%;
  height: 100vh;
  float: left;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
} */
::-webkit-scrollbar {
display: none;
}
#workTitle{
  font-family: "Permanent Marker", sans-serif;
  color: #fff;
}
.workPic{
  width: 65%;
  padding: 0 5%;
  display: inline-block;
}
#learnMore{
  color: #d6aa77;
  background-color: #f4f2f2;
  border: solid 2px #d6aa77;
  padding: 3% 10%;
  text-decoration: none;
}
#workH1{
  color: #d6aa77;
  font-family: 'Permanent Marker', 'Montserrat', sans-serif;
  margin-top: 0;
  padding: 50% 0;
}
#portfolio h2{
  color: #d6aa77;
}
#portfolio p{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 18px;
  color: #d6aa77;
  margin-bottom: 6%;
}
#webInfo{
    margin-top: 6%;
}
#RAinfo{
  margin-top: 10%;
}
#portfolio h3{
  text-align: left;
  margin-bottom: 10%;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 2% 0;
}
#mobileTemp{
margin-top: 5%;
}
#personal{
  margin-top: 10%;
  text-decoration: underline;
}
.project{
  background-color: #d6aa77;
  border: solid 2px #d6aa77;
  color: #fff;
  float: left;
  width: 100%;
}
@media screen and (max-width:61em) {
  #portfolio p{
    font-size: 14px;
  }
}
@media screen and (max-width:48em) {
  #portfolio{
    padding: 15% 0;
  }
  #portfolio h3{
    display: none;
  }
  .projectInfo{
    display: none;
  }
  .project{
    display: none;
  }
}

/****** ABOUT ME ******/

#about {
  padding: 12%;
  font-weight: 100;
  display: inline-block;
  background-color: #d6aa77;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  line-height: 40px;
}
#aboutMe {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 32px;
  font-size: 16px;
  margin-top: 1%;
  color: #fff;
  max-width: 100%;
  height: auto;
  line-height: 180%;
  letter-spacing: 2;
  display: inline-block;
}
#about h2{
  font-family: "Permanent Marker", sans-serif;
  color: #fff;
}
#about .resume{
  border: solid 2px #fff;
  color: #fff;
}
#about .resume:hover{
  color: #d6aa77;
}
#about a{
  font-weight: bolder;
  color: #5a5a5a;
}
#like{
  color: #d6aa77;
}
#like:hover{
  color: #d6aa77;
}
@media screen and (max-width:50em) {
#aboutMe{
  font-size: 14px;
  font-weight: 200;
}
}
.social-icon {
    color: #d6aa77;
    display: inline-block;
    font-size: 2em;
    margin: 5px 10px 0 0;
    text-decoration: none;
}
.social-icon:hover {
    color: #5a5a5a;
}

/****** CONTACT ******/

#contact {
  width: 100%;
  height: 110%;
  padding: 12%;
  letter-spacing: 2px;
  background-color: #f4f2f2;
}
#contact p{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 16px;
  color: #5a5a5a;
  padding-bottom: 1em;
}
#chat{
  color: #d6aa77;
  font-family: "Permanent Marker", sans-serif;
  margin: 30px 0 25px 0;
}
p#email{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 5%;
}
label{
  font-size: 16px;
}
@media screen and (max-width: 38em) {
  .aboutMe{
    margin: 0 8px 200px 8px;
  }
}
@media screen and (max-width:48em) {
  #contact h4{
    font-weight: 200;
    line-height: 150%;
  }
  #contact p {
    padding: 0 10px;
    font-size: 12;
    font-weight: 200;
  }
  .aboutMe {
    padding: 0 0 40px 0;
  }
  p#about {
    margin: 0 auto;
    font-weight: 200;
  }
}
.social {
    font-size: 25px;
    padding-bottom: 20px;
}
.social p {
    margin: 0 20px;
    line-height: 30px;
    font-size: 16px;
}

.social-icon {
  width: 10%;
  height: 10px;
  font-size: 150%;
  display: inline-block;
  margin: 0;
  padding-top: 1%;
}
@media screen and (max-width: 40em){
  .social-icon {
    font-size: 1em;
    display: inline-block;
    margin: 0 margin;
  }

    /****** FOOTER ******/

  .social {
    font-size: 25px;
    padding: 7px 0 20px 0;
  }
  @media screen and (max-width: 40em){
  .social {
      font-size: 35px;
      padding: 10px 0 20px 0;
    }
    #contact p{
      font-size: 13px;
    }
    }
    @media screen and (max-width: 42em){
      #contact {
        width: 100%;
        height: 100%;
        padding: 30% 3%;
        font-size: 14px;
      }
      #about {
        font-size: 14px;
        padding: 15% 3%;
        height: 100%;
        width: 100%;
      }
      .scrolling  {
        width: 100%;
      }
      .sticky{
        display: none;
      }
    }
    @media screen and (max-width: 36em){
      #contact {
        width: 100%;
        height: 100%;
        padding: 38% 3%;
        font-size: 14px;
      }
      nav ul li {
          display: inline-block;
          font-family: 'Montserrat', sans-serif;
          padding: 0 8%;
          margin-top: 5%;
      }
    }
