@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Nunito);
/* fade animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 2s;
    -moz-animation: fadeIn ease-in 2s;
    animation: fadeIn ease-in 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}
.fade-in.one {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

}
.fade-in.two {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


/****** GENERAL ******/

body {
    background-color: #f4f2f2;
    top: 0;
    overflow: auto;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
h1{
  font-family: 'Nunito', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 200;
}
h2{
  font-family: 'Nunito', sans-serif;
  color: #d6aa77;
  letter-spacing: 3px;
  font-weight: 200;
}
h3{
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
  color: #d6aa77;
  letter-spacing: 2px;
}
h4{
font-family: 'Helvetica Neue', sans-serif;
font-weight: lighter;
color: #fff;
letter-spacing: 1px;
margin-bottom: 10px;
}
p{
  font-family: 'Helvetica Neue', sans-serif;
}
hr{
  width: 50%;
  border-color: #fff;
  margin-bottom: 20px;
}
img{
  padding: 0;
}
a{
  color: #d6aa77;
  font-weight: bold;
  text-decoration: underline;
}
a:hover{
  color: #5a5a5a;
}
.btn-default {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px;
  background: none;
  margin-top: 1%;
  color: #d6aa77;
  background-color: #fff;
  border: solid 2px #d6aa77;
  border-radius: 0;
  text-decoration: none;
}

/****** NAVBAR ******/

a:focus, a:hover{
  text-decoration: none;
}
.banner {
  width: 100%;
  height: auto;
}
li {
